@model TO.Model.Transaction
@{
    ViewBag.Title = "Excluir Transação";
}

<h2>Excluir Transação</h2>

<h3>Tem certeza que gostaria de excluir essa transação?</h3>
<fieldset>
    <legend>Transaction</legend>
</fieldset>
@using (Html.BeginForm())
{
    @Html.DisplayFor(model => model.ID)
    @Html.DisplayFor(model => model.Name)

    <p>
        <input type="submit" value="TransactionList" />
        |
        @Html.ActionLink("Voltar", "TransactionList")
    </p>
}
